*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" ,sans-serif;
    }
    body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: url(images-transformed.jpeg) no-repeat;
    background-size: cover;
    color: #fff;
    }
    .contnair{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    box-sizing:border-box;
    padding: 20px 40px;
    border-radius:15px;
    box-shadow: 0 0 10px #000;
    }
    h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    }
    p{
    font-size: 20px;
    margin: 15px 0;
    color: #fff;
    }
    .inputBox {
    	position:relative;
    	width:100%;
    	color:#000;
    }
    input{
    position:relative;
    width: 100%;
    border: 0;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    color:#000;
    border:1px solid #000;
    }
    #eyeIcon{
    	position:absolute;
    	right:0;
    	top:0;
    	height:100%;
    }
    #eyeIcon svg{
    	width:auto;
    	height:100%;
    }
    button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 30%;
    border: 0;
    border-radius: 5px;
    background-color: #2c4766;
    color: #fff;
    }
    button:hover{
    background-color: #fff;
    color: #000;
    }